.passport-preview {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.passport-info-input.d input,
.passport-info-input.b1 input {
  width: 7em;
}

.passport-preview .warning-box {
  text-align: center;
  color: #f66;
}
