body {
  background-color: #f0f0f0;
}

#passport-card {
  background-color: white;
  border: 2px solid black;
  width: min-content;
}
img#flag {
  width: 12em;
}
#passport-label {
  min-width: 8em;
  text-wrap-style: balance;
}
.passport-info {
  text-wrap: nowrap;
  margin: 0.5em 1em;
}

#passport-heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#passport-card.template-2 > #passport-data {
  display: flex;
  justify-content: space-between;
}

.passport-info::first-letter {
  font-weight: bold;
}
.sheet {
  display: block;
  width: 100%;
  aspect-ratio: 210/297;
  border: 1px solid black;
}
/* 
@media print {
  form {
    display: none;
  }
  #card {
    display: none;
  }
  .sheet {
    width: 210mm;
    border: 1px solid black;
  }
} */
