/* Root Variables */
:root {
  --bg-color: #e5f5ea;
  --brown-0: #f1d7c5ff;
  --brown-1: #eecdb7ff;
  --brown-2: #eac1a5ff;
  --brown-3: #e5b18eff;
  --brown-4: #de9d72ff;
  --brown-5: #bc815bff;
  --brown-6: #9b6645ff;
  --brown-7: #794b2eff;
  --brown-8: #572f17ff;
  --primary-dark: #79ac78;
  --primary-light: #b0d9b1;
}

/* Passport Card Styles */
.passport-card {
  font-size: 0.75em;
  position: relative;
  min-height: 8em;
  min-width: 10em;
  padding: 1em;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Passport Heading */
.passport-heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.passport-heading p {
  min-width: 8em;
  margin-left: 1em;
  text-wrap-style: balance;
}

/* Flag */
.passport-heading .flag {
  width: 10em;
}

/* Passport Info */
.passport-info {
  margin: 0.5em;
}

.passport-info::first-letter {
  font-weight: bold;
}

/* Passport Barcode */
.passport-info .passport-barcode {
  max-height: 2em;
}

/* Template-Specific Styles */
.template-2 .passport-data {
  display: flex;
  justify-content: space-between;
}

.template-3 .passport-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Rotated Styles */
.passport-card.rotated {
  writing-mode: vertical-rl;
}

.passport-card.rotated > .passport-heading {
  display: flex;
  justify-content: space-between;
  width: min-content;
}
