.passport-select {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  width: fit-content;
  height: 100%;
}

.passport-box {
  margin: 1em;
}
.passport-select .passport-card {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.passport-label {
  display: block;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: var(--bg-color);
  text-align: center;
  color: black;
}

.add-passport-button {
  align-self: flex-start;
  justify-self: flex-start;
  width: 9em;
  height: 9em;
  margin-left: 2em;
  margin-top: 4em;
  background-color: transparent;
  border: none;
}

.buttons-background {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: transparent;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.passport-card:hover .buttons-background {
  background-color: #0007;
  opacity: 1;
  visibility: visible;
}

.add-passport-button:hover {
  animation: spin-bounce 0.5s;
}

.add-passport-button > * {
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 2em;
}

.buttons-container {
  position: absolute;
  top: 42%;
  height: 2em;
  animation: slide-up 0.5s alternate;
  box-sizing: border-box;
}

.passport-card:hover .buttons-container {
  animation: slide-down 0.5s;
}

.buttons-container button {
  height: 100%;
  padding: 0 1em;
  text-align: center;
  box-sizing: content-box;
  vertical-align: middle;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    top: 35%;
  }

  100% {
    opacity: 1;
    top: 42%;
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    top: 42%;
  }

  to {
    opacity: 0;
    top: 25%;
  }
}

@keyframes spin-bounce {
  0% {
    transform-origin: 0deg;
  }

  50% {
    transform: rotate(30deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
