/* Print */
.print-form {
  position: relative;
}
.print-form fieldset {
  display: flex;
}
.print-form fieldset > * {
  margin: 10px;
}
.print-form input {
  width: 6em;
}
#print-info-mark {
  font-size: 0.7em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  border: 1px solid black;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  align-self: flex-end;
  justify-self: flex-end;
}
#print-info-mark #print-info-text {
  position: absolute;
  visibility: hidden;
  background-color: white;
  width: fit-content;
  min-width: 8em;
}
#print-info-mark:hover #print-info-text {
  visibility: visible;
  background-color: #aaa;
}

.print-sheet {
  background-color: white;
  aspect-ratio: 210/297;
  box-sizing: border-box;
  width: 32em;
  overflow: hidden;

  border: 1px solid #aaa;
  margin: 0px;
}
.print-grid-box {
  display: grid;
  width: 100%;
  height: 100%;
}

.print-grid-box > * {
  width: 100%;
  height: 100%;
  margin: 0px;
}

@media print {
  .print-sheet {
    width: 100vw;
    height: 1000vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
  }
}
